.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 54px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.alert {
  color: chocolate;
  font-size: 16px;
  padding: 10px 0;
}

.username {
  margin-bottom: 20px;
  font-size: 18px;
}

.chatWrapper {
  min-width: 700px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: scroll;
}

.messageBox {
  margin-bottom: 12px;
}

.messsageUsername {
  font-size: 14px;
  color: #2C2B3C;
  font-weight: 600;
  padding: 0 5px;
  margin-bottom: 4px;
}

.messageText {
  display: inline-block;
  font-size: 14px;
  color: #2C2B3C;
  padding: 6px 10px;
  background-color: #FFEE93;
  border-radius: 6px;
}